<% provide(:title, "About") %>
<h1>Pinderとは</h1>
<p>
   <a href="https://www.google.co.jp/"><em>マッチングアプリPinderについて</em></a>
　 <a href="https://www.google.co.jp/">Pinderが本になりました！</a>
  <a href="http://screencasts.railstutorial.org/">Pinder</a>

  <a href="http://rubyonrails.org/">マッチアップ</a>.
  This application is awesome.
</p>
