<% provide(:title, "Help") %>
<h1>Help</h1>
<p> お困りですか？ご質問はこちら<br>
  <a href="https://www.google.co.jp/">サポートセンター</a>
  <br>
  <br>
  よくある質問<br>
  <a href="http://railstutorial.jp/book"><em>質問リスト</em>
  </a>
</p>
