<% provide(:title, 'All users') %>
<% provide(:search_name, 'user search') %>
<% provide(:path, users_path) %>

<h1>All users</h1>

<%= will_paginate %>

<!-検索機能-!>
<ul class="users">
  <div class = "search-box">
  <%= render 'users/search' %> 　<!-- searchパーシャル呼出 --!>  
  </div>
  <%= render @users %> 
</ul>>

<%= will_paginate %>
