<footer class="footer">
  <small>
    マッチングアプリ<a href="https://www.google.co.jp/">Pinder</a>
    by <a href="https://www.google.co.jp/">Takahiro Sawamura</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.google.co.jp/">News</a></li>
    </ul>
  </nav>
</footer>
